<!DOCTYPE html>
<body class="{{ mode }}">
   <html>
<head>
    <title>Welcome to My Website</title>
</head>
<body>
    <h1>Hi There, welcome to my website, I am learning Flask.</h1>
    <p>Click the button below to see a random fact.</p>
    <a href="/random_fact"><button class="random-fact-button">Generate Random Fact</button></a>
    <p>Click the button below to flip a coin.</p>
    <a href="/headsortails"><button class="random-fact-button">Flip Coin</button></a>
</body>
    </html>
</body>
</html>
<!DOCTYPE html>
